<footer id="footer" class="clear">
	<div class="footerSocial clear">
		<a href="index.html#"><i class="fa fa-facebook"></i></a>
		<a href="index.html#"><i class="fa fa-twitter"></i></a>
		<a href="index.html#"><i class="fa fa-instagram"></i></a>
		<a href="index.html#"><i class="fa fa-pinterest"></i></a>
	</div>
	<ul class="footerMenu clear">
		<li><a href="#">Classes</a></li>
		<li><a href="#">Shop</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
	<div class="footerSubscribe">
		<form>
			<input class="" type="text" name="" size="20" value="" placeholder="Your email">
			<input class="btnSubscribe" type="submit" value="Subscribe">
		</form>
	</div>
	<div class="copyright">
		<p>Copyright &copy; 2015. Vikruti Yoga All rights reserved</p>
	</div>
</footer>