
<header id="header">
	<div class="headerWrap clear">
		<a href="/" class="logo">
			<img height="50px" class="logo-white" src="images/2.png" alt="vikrutiyoga">
			<img height="70px" class="logo-black" src="images/vikrutiyoga.png" alt="vikrutiyoga">
		</a>
		<nav class="mainMenu">
			<ul class="clear">
				<li class="current-menu-item"><a href="/">home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blog">Blog</a></li>
				<li>
					<a href="#">Shop</a>
				</li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		<span class="showMobileMenu">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</span>
	</div>
</header>

<div class="mobileMenu">
	<ul>
		<li class="current-menu-item"><a href="/">home</a></li>
		<li><a href="/about">About</a></li>
		<li>
			<a href="/blog">Blog</a>
		</li>
		<li>
			<a href="/">Shop</a>
		</li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</div>