<div class="wrapper">
		<div class="f0f--section pd--100-0 text-center" data-bg-img="img/404-img/bg.jpg">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="img"><img alt="" data-rjs="2" src="img/404-img/monkey.png"></div>
						<h1 class="title h1">Ooops Error 404 NOt found</h1>
						<p class="sub-title">The page you are looking for was moved, removed, renamed or might never exist. please try again and take a look at our site.</p>
					</div>
				</div>
				<div class="row reset--gutter">
					<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
						<div class="footer">
							<a href="/"><i class="fa fa-home"></i> / Go To Home</a> <span>OR</span>
							<div class="subscribe--widget" data-form-validation="true">
								<form action="404.html#">
									<div class="input-group">
										<input class="form-control" name="search" placeholder="I’m Looking For..." required="" type="search"> <span class="input-group-btn"><button class="btn btn-default active" type="submit"><span class="input-group-btn">Search</span></button></span>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>