<style>
.wrapper_2{
	margin: 40px;
	margin-right: 230px;
}
.has{
	margin: 0 auto;
    width: 1170px;
   text-align: left;
    position: relative;
}
</style>
<body class="about">
	<section class="container" style="background-color:#e0f2f8">
		<div class="pageHeader" style="background-image: url(images/content/about.jpg);">
			<h1>about our studio</h1>
		</div>
		<div class="ourStory">
			<div class="wrapper">
				<div class="storyItem clear">
					<div class="storyImg">
						<img src="images/content/story.jpg" alt="">	
					</div>
					<div class="storyDesc">
						<h3>About</h3>
						<p>Yoga and Ayurveda is a complete system of well being. Yoga is one of the six systems of vedic philosophy, the word yoga derived from sanskrit word 'Yuj' which means to unite, combine, harmonize, or integrate.</p>
						<p>	Ayurveda is one of the four upvedas, the word Ayuh means 'Life' and Veda means 'Knowledge'. Ayurveda vaidyas treat the patient with the help of herbs and associated therapies for different ailments.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="ourValues">
				<div class="wrapper">
						<p style="text-align:justify">According to Ayurveda, Vata which is one of the three humours (dosha), is another name of Prana. Charaka Samhita explains the functions of vata in the same manner as yoga texts explain Prana. This lead to integration of yoga with ayurveda and modern term referred as  Ayurveda Yoga therapy or Yoga Chikitsa is a new, popular, and powerful movement in yoga today that is still trying to define itself and its scope of application.</p>
				</div>
				<div class="wrapper">
						<p style="text-align:justify">Ayurveda explains that we all have a different body constitution made up of 5 elements (panchamahabhutas) termed as Space, Air, Fire, Water and Earth, which will be present in each person with varying proportions termed as Doshas. </p>
				</div>
				<div class="wrapper">
						<p style="text-align:justify">Prakruti means unique and specific combination of the panchamahabhutas at the time of conception is called prakruti. Vikruti means imbalanced or altered state of the panchamahabhutas( elements), reflecting the current state of our health, is called vikruti</p>
				</div>
				<div class="wrapper">
						<p style="text-align:justify">As everyone will be having the altered state of panchamahabhutas with varying degreees reflecting  deficiency or excess of them in terms of symptoms or diseases, So sequences designed based on the vikruti of the person balancing for their prakruti, different seasons, times of day, and specific ages hence our yoga institute termed as Vikruti Yoga...</p>
				</div>
				<div class="wrapper">
						<p style="text-align:justify">Yoga therapists bringing vata, pitta and kapha pacifying classes to their Local studios or Club houses or Corporate sessions In this way, large groups of students can benefit from classes that teach yoga practices that restore balance to their dosha.</p>
				</div>
				<div class="wrapper">
						<p style="text-align:justify">Ayurvedic yoga therapists utilize asana, pranayama, pratyahara and meditation as their main tools. Each practice and the manner in which it is practiced affects the physiology of the patient differently. The language of understanding how the physiology of body is changed is the language of the three main doshas that is Vata, Pitta , Kapha.The foundational knowledge of the Ayurvedic Yoga Therapist is the knowledge of the ten pairs of opposite qualities, five vayus, the doshas, the chakras and the nadi. Understanding how these energies and energy centers function is the key to the restoring balance to the physiological systems of the body and supporting the healing process.</p>
				</div>
				<div class="wrapper">
						<p style="text-align:justify">The long oral tradition of Ayurveda took new form when three great scholars Charaka, Sushruta, and Vagbhata wrote down the principles of this ancient wisdom. This wisdom was not compeletely enough to create sequence of asanas based on Doshas, Vayus are the core of ancient yogic practice that may have lost over time or kept as secret. Only a few vague descriptions in ancient Sanskrit texts exist. Years of research and different case studies and experiences led Zakaulla Sharieff to uncover the mysteries of this profound, powerful practice.</p>
				</div>
				<div class="wrapper">
						<p style="text-align:justify">Combining Yoga and Ayurveda in their full applications and in the greater context of Vedic science offers a complete system of well-being for body, mind, and consciousness, such as perhaps has no parallel anywhere else in the world.</p>
				</div>
		</div>
		
		<div class="ourValues">
			<div class="blockTitle">our values</div>
			<div class="parallaxBox" data-type="parallax" data-speed="10" style="background-image: url(images/content/ourValues1.jpg);">
				<h3>impossible is nothing</h3>
			</div>
			<div class="wrapper">
				<p>Coming Soon................................</p>
			</div>
			<div class="parallaxBox" data-type="parallax" data-speed="10" style="background-image: url(images/content/ourValues2.jpg);">
				<h3>everyday practice</h3>
			</div>
			<div class="wrapper">
				<p>Coming Soon...............................</p>
			</div>
		</div>
		<div class="ourInstagram">
			<div id="sb_instagram">
				<div class="sb_instagram_header">
					<a href="#" class="sbi_header_link">Vikruti Yoga</a>
				</div>
				<div id="sbi_images">
					<div class="sbi_item sbi_type_image">
						<div class="sbi_photo_wrap">
							<a href="#" class="sbi_photo">
								<img src="images/content/inst.jpg" alt="">
							</a>
						</div>
					</div>
					<div class="sbi_item sbi_type_image">
						<div class="sbi_photo_wrap">
							<a href="#" class="sbi_photo">
								<img src="images/content/inst2.jpg" alt="">
							</a>
						</div>
					</div>
					<div class="sbi_item sbi_type_image">
						<div class="sbi_photo_wrap">
							<a href="#" class="sbi_photo">
								<img src="images/content/inst3.jpg" alt="">
							</a>
						</div>
					</div>
					<div class="sbi_item sbi_type_image">
						<div class="sbi_photo_wrap">
							<a href="#" class="sbi_photo">
								<img src="images/content/inst4.jpg" alt="">
							</a>
						</div>
					</div>
					<div class="sbi_item sbi_type_image">
						<div class="sbi_photo_wrap">
							<a href="#" class="sbi_photo">
								<img src="images/content/inst5.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
