<!DOCTYPE html>
<html lang="uk">
<body class="blog">
	<section class="container">
		<div class="blogPostWrap">
			<div class="postItem">
				<a href="single-post.html" class="postItemImg">
					<img src="images/content/postimg.jpg" alt="">
				</a>
				<time class="postItemTime" datetime="2015-02-01">February 1, 2015</time>
				<h4><a href="single-post.html">C’era una volta: Gaia Stella in reprehenderit</a></h4>
				<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="postItem">
				<a href="single-post.html" class="postItemImg">
					<img src="images/content/postimg2.jpg" alt="">
				</a>
				<time class="postItemTime" datetime="2015-02-01">February 1, 2015</time>
				<h4><a href="single-post.html">You Are What You Yoga</a></h4>
				<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="postItem">
				<a href="single-post.html" class="postItemImg">
					<img src="images/content/postimg3.jpg" alt="">
				</a>
				<time class="postItemTime" datetime="2015-02-01">February 1, 2015</time>
				<h4><a href="single-post.html">Why you shouldn’t go to yoga</a></h4>
				<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="postItem">
				<a href="single-post.html" class="postItemImg">
					<img src="images/content/postimg4.jpg" alt="">
				</a>
				<time class="postItemTime" datetime="2015-02-01">February 1, 2015</time>
				<h4><a href="single-post.html">C’era una volta: Gaia Stella</a></h4>
				<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="postItem">
				<a href="single-post.html" class="postItemImg">
					<img src="images/content/postimg5.jpg" alt="">
				</a>
				<time class="postItemTime" datetime="2015-02-01">February 1, 2015</time>
				<h4><a href="single-post.html">You Are What You Yoga</a></h4>
				<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="postItem">
				<a href="single-post.html" class="postItemImg">
					<img src="images/content/postimg6.jpg" alt="">
				</a>
				<time class="postItemTime" datetime="2015-02-01">February 1, 2015</time>
				<h4><a href="single-post.html">Why you shouldn’t go to yoga</a></h4>
				<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="postItem">
				<a href="single-post.html" class="postItemImg">
					<img src="images/content/postimg7.jpg" alt="">
				</a>
				<time class="postItemTime" datetime="2015-02-01">February 1, 2015</time>
				<h4><a href="single-post.html">C’era una volta: Gaia Stella</a></h4>
				<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="postItem">
				<a href="single-post.html" class="postItemImg">
					<img src="images/content/postimg8.jpg" alt="">
				</a>
				<time class="postItemTime" datetime="2015-02-01">February 1, 2015</time>
				<h4><a href="single-post.html">You Are What You Yoga</a></h4>
				<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="postItem">
				<a href="single-post.html" class="postItemImg">
					<img src="images/content/postimg9.jpg" alt="">
				</a>
				<time class="postItemTime" datetime="2015-02-01">February 1, 2015</time>
				<h4><a href="single-post.html">Why you shouldn’t go to yoga</a></h4>
				<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="postItem">
				<a href="single-post.html" class="postItemImg">
					<img src="images/content/postimg5.jpg" alt="">
				</a>
				<time class="postItemTime" datetime="2015-02-01">February 1, 2015</time>
				<h4><a href="single-post.html">You Are What You Yoga</a></h4>
				<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="postItem">
				<a href="single-post.html" class="postItemImg">
					<img src="images/content/postimg6.jpg" alt="">
				</a>
				<time class="postItemTime" datetime="2015-02-01">February 1, 2015</time>
				<h4><a href="single-post.html">Why you shouldn’t go to yoga</a></h4>
				<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="postItem">
				<a href="single-post.html" class="postItemImg">
					<img src="images/content/postimg7.jpg" alt="">
				</a>
				<time class="postItemTime" datetime="2015-02-01">February 1, 2015</time>
				<h4><a href="single-post.html">C’era una volta: Gaia Stella</a></h4>
				<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
		</div>
		<a href="blog.html#" class="loadMoreItems">load more</a>
	</section>
</body>
</html>