<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body class="blog">
    <section class="container">
        <div class="panel-group" id="faqAccordion">
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: I'm a Christian or Muslim or Atheist, Can I do Yoga?
                            </a>
                </h4>

                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>

                        <p>True yoga is about submitting your will to the will of the Creator that is the same criteria as other major religions of the world like Christianity, Islam, Buddhism and other religions. In the last half of the 21st century yoga is more popular as physical and mental therapy then spiritual journey.     
                        </p>
                        <p>
                                Today, yoga commonly embraces the practices of asana, pranayama, mudra and bandha. So far, yoga therapy has succeeded in diseases like asthma, diabetes and blood pressure where modern science has not.
                                Besides this epilepsy, hysteria, rheumatism and many other ailments of a chronic and constitutional nature can be reversed through yoga.
                        </p>
                        <p>
                                Yoga therapy is open to all mankind without any distinction of caste, creed, colour, race, sex or age. Perhaps the only essential qualification is a belief in the potentialities of one's own consciousness and an aspiration to reach its summit by following the laws of consciousness itself.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Is it safe to do yoga if I have an injury or medical condition?
                            </a>
                </h4>

                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>

                        <p>In most cases the answer to that question is yes. In fact yoga is excellent way to support the body in its healing process. However, you can inform your doctor or health care provider before you begin your practice, and be sure to let your teacher know what is going on so they can address your specific needs.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: I'm a Christian or Muslim or Sikh, Can I do Yoga?
                            </a>
                </h4>

                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>

                        <p>
                            In the last half of the 21st century yoga is more popular as physical and mental therapy then spiritual journey.
                        </p>
                        <p>
                                Today, yoga commonly embraces the practices of asana, pranayama, mudra and bandha  in yoga therapy.So far, yoga therapy has succeeded in diseases like asthma, diabetes and blood pressure where modern science has not.
                                Besides this epilepsy, hysteria, rheumatism and many other ailments of a chronic and constitutional nature can be reversed through yoga.
                        </p>
                        <p>
                                Yoga therapy is open to all mankind without any distinction of caste, creed, colour, race, sex or age. Perhaps the only essential qualification is a belief in the potentialities of one's own consciousness and an aspiration to reach its summit by following the laws of consciousness itself.
                        </p>
                    </div>
                </div>
            </div>
            <!-- <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Where can I get some?</a>
                </h4>

                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>

                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                    </div>
                </div>
            </div> -->
            
        </div>
        <!--/panel-group-->
    </section>
</body>