<!DOCTYPE html>
<html lang="uk">
<body class="home">
	<section class="container">
		<div class="homeBxSliderWrap">
			<div class="homeBxSlider">
				<div class="slide active" data-slide="0" style="background-image: url(/images/content/homeslide.jpg);">
					<!-- <img src="images/content/homeslide.jpg"> -->
					<div class="slideDesc">
						<h2>Do your practice and <br> all is coming</h2>
						<a class="learnMore" href="#">learn more</a>
					</div>
				</div>
				<div class="slide" data-slide="1" style="background-image: url(/images/content/homeslide2.jpg);">
					<!-- <img src="images/content/homeslide2.jpg"> -->
					<div class="slideDesc">
						<h2>TAKING YOGA BEYOND <br> THE MAT training</h2>
						<a class="learnMore" href="#">learn more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="homeGrid">
			<div class="mainItem clear">
				<div class="mainItemImg">
					<img src="/images/content/main.jpg" alt="">
				</div>
				<div class="mainItemDesc">
					<h3>TAKING YOGA BEYOND THE MAT training</h3>
					<p>In the sanctuary of a yoga studio, a retreat or a tranquil spot in the countryside, it’s easier.</p>
					<a href="#" class="viewMore">view more</a>
				</div>
			</div>
		</div>
		<div class="shopItems">
			<div class="blockTitle">yoga shop</div>
			<div class="shopItemsWrap">
				<a href="single-product.html" class="shopItem">
					<img src="images/content/shopitem0.jpg" alt="">
					<div class="overlay">
						<div class="shopItemTextWrap">
							<p>Citron Sundial Yoga Mat (5mm)</p>
						</div>
						<span class="price"><span>$</span>28</span>
					</div>
				</a>
				<a href="single-product.html" class="shopItem">
					<img src="images/content/shopitem.jpg" alt="">
					<div class="overlay">
						<div class="shopItemTextWrap">
							<p>Citron Sundial Yoga Mat (5mm)</p>
						</div>
						<span class="price"><span>$</span>28</span>
					</div>
				</a>
				<a href="single-product.html" class="shopItem">
					<img src="images/content/shopitem1.jpg" alt="">
					<div class="overlay">
						<div class="shopItemTextWrap">
							<p>Citron Sundial Yoga Mat (5mm)</p>
						</div>
						<span class="price"><span>$</span>28</span>
					</div>
				</a>
				<a href="single-product.html" class="shopItem">
					<img src="images/content/shopitem2.jpg" alt="">
					<div class="overlay">
						<div class="shopItemTextWrap">
							<p>Citron Sundial Yoga Mat (5mm)</p>
						</div>
						<span class="price"><span>$</span>28</span>
					</div>
				</a>
				<a href="single-product.html" class="shopItem">
					<img src="images/content/shopitem0.jpg" alt="">
					<div class="overlay">
						<div class="shopItemTextWrap">
							<p>Citron Sundial Yoga Mat (5mm)</p>
						</div>
						<span class="price"><span>$</span>28</span>
					</div>
				</a>
				<a href="single-product.html" class="shopItem">
					<img src="images/content/shopitem.jpg" alt="">
					<div class="overlay">
						<div class="shopItemTextWrap">
							<p>Citron Sundial Yoga Mat (5mm)</p>
						</div>
						<span class="price"><span>$</span>28</span>
					</div>
				</a>
				<a href="single-product.html" class="shopItem">
					<img src="images/content/shopitem1.jpg" alt="">
					<div class="overlay">
						<div class="shopItemTextWrap">
							<p>Citron Sundial Yoga Mat (5mm)</p>
						</div>
						<span class="price"><span>$</span>28</span>
					</div>
				</a>
				<a href="single-product.html" class="shopItem">
					<img src="images/content/shopitem2.jpg" alt="">
					<div class="overlay">
						<div class="shopItemTextWrap">
							<p>Citron Sundial Yoga Mat (5mm)</p>
						</div>
						<span class="price"><span>$</span>28</span>
					</div>
				</a>
			</div>
			<a href="#" class="showAllItems">Shop all</a>
		</div>
		<div class="blogPosts">
			<div class="blockTitle">blog</div>
			<div class="blogPostWrap">
				<div class="postItem">
					<a href="single-post.html" class="postItemImg">
						<img src="images/content/postimg.jpg" alt="">
					</a>
					<h4><a href="#">What I learned about yoga</a></h4>
					<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
				<div class="postItem">
					<a href="single-post.html" class="postItemImg">
						<img src="images/content/postimg2.jpg" alt="">
					</a>
					<h4><a href="single-post.html">Key benefits of being positive</a></h4>
					<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
				<div class="postItem">
					<a href="single-post.html" class="postItemImg">
						<img src="images/content/postimg3.jpg" alt="">
					</a>
					<h4><a href="single-post.html">Happiness starts with this habit</a></h4>
					<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</div>
		</div>
		<div class="classesBox" data-type="parallax" data-speed="10" style="background-image: url(images/content/bg-classes.jpg);">
			<a href="#" class="classesCategory">classes</a>
			<h3>choose your classes and start <br> your training</h3>
			<a href="#" class="viewClasses">view classes</a>
		</div>
	</section>
	

	
</body>
</html>