<!DOCTYPE html>
<html lang="uk">
<body class="home">
	<section class="container">
		<div class="homeBxSliderWrap">
			<div class="homeBxSlider">
				<div class="slide active" data-slide="0" style="background-image: url(/images/content/homeslide.jpg);">
					<!-- <img src="images/content/homeslide.jpg"> -->
					<div class="slideDesc">
						<h2>Do your practice and <br> all is coming</h2>
						<a class="learnMore" href="#">learn more</a>
					</div>
				</div>
				<div class="slide" data-slide="1" style="background-image: url(/images/content/homeslide2.jpg);">
					<!-- <img src="images/content/homeslide2.jpg"> -->
					<div class="slideDesc">
						<h2>TAKING YOGA BEYOND <br> THE MAT training</h2>
						<a class="learnMore" href="#">learn more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="homeGrid">
			<div class="mainItem clear">
				<div class="mainItemImg">
					<img src="/images/content/main.jpg" alt="">
				</div>
				<div class="mainItemDesc">
					<h3>TAKING YOGA BEYOND THE MAT training</h3>
					<p>In the sanctuary of a yoga studio, a retreat or a tranquil spot in the countryside, it’s easier.</p>
					<a href="#" class="viewMore">view more</a>
				</div>
			</div>
		</div>
		<div class="blogPosts">
			<div class="blockTitle">Customer Review</div>
			<div class="blogPostWrap">
				<div class="postItem">
					<img height="120px" width="120px" src="images/gunit_singh.png" alt="gunit_singh">
					<h2>Iqbal Singh</h2>
					<h4>(VP Bennett Coleman)</h4>
					<p align="justify">Begins from basics. And customises yoga exercises basis body type,
						 imbalances and specific requirement of flexibility. 
						 Goes beyond strict definition of time and deliverables to address related issues on food and posture.
						 Displays a good knowledge of the theory and practice of yoga.
					</p>
				</div>
				<div class="postItem">
					<img height="140px" width="120px" src="images/iqbal_singh.png" alt="iqbal_singh">
					<h3>Gunit Singh</h3>
					<h4>(Founder and Director Fintegriti Capital)</h4>
					<p align="justify">Highly Recommended- If you are looking for a focussed yoga instructor who is sincere,
						 puntual, professional & who knows his craft, then this is your guy.
						After you tell him your problem areas, he would come up with a focussed plan & execute
						it to perfection customising it based on your mental & physical strength. Basically,
						 with this guy it is upto you , how much you can extract from him </p>
				</div>
				<!-- <div class="postItem">
					<a href="single-post.html" class="postItemImg">
						<img src="images/content/postimg3.jpg" alt="">
					</a>
					<h4><a href="single-post.html">Happiness starts with this habit</a></h4>
					<p>Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div> -->
			</div>
		</div>
		<div class="shopItems">
			<div class="blockTitle">yoga shop</div>
			<div class="shopItemsWrap">
				<a href="#" class="shopItem">
					<img src="images/content/shopitem0.jpg" alt="">
					<div class="overlay">
						<div class="shopItemTextWrap">
							<p>Coming Soon..</p>
						</div>
						<span class="price"><span>$</span>28</span>
					</div>
				</a>
				<a href="#" class="shopItem">
					<img src="images/content/shopitem.jpg" alt="">
					<div class="overlay">
						<div class="shopItemTextWrap">
							<p>Coming Soon..</p>
						</div>
						<span class="price"><span>$</span>28</span>
					</div>
				</a>
				<a href="#" class="shopItem">
					<img src="images/content/shopitem1.jpg" alt="">
					<div class="overlay">
						<div class="shopItemTextWrap">
							<p>Coming Soon..</p>
						</div>
						<span class="price"><span>$</span>28</span>
					</div>
				</a>
				<a href="#" class="shopItem">
					<img src="images/content/shopitem2.jpg" alt="">
					<div class="overlay">
						<div class="shopItemTextWrap">
							<p>Coming Soon..</p>
						</div>
						<span class="price"><span>$</span>28</span>
					</div>
				</a>
			</div>
			<a href="#" class="showAllItems">Shop all</a>
		</div>
		<div class="classesBox" data-type="parallax" data-speed="10" style="background-image: url(images/content/bg-classes.jpg);">
			<a href="#" class="classesCategory">classes</a>
			<h3>choose your classes and start <br> your training</h3>
			<a href="#" class="viewClasses">view classes</a>
		</div>
	</section>
	

	
</body>
</html>