<div class="page-header--section text-center">
			<div class="page--title pd--130-0" data-bg-img="img/page-header-img.jpg">
				<div class="container">
					<h1 class="h1">Our Services</h1>
				</div>
			</div>
			<div class="page--breadcrumb font--secondary">
				<div class="container">
					<ul class="breadcrumb">
						<li>
							<a href="/">Home</a>
						</li>
						<li class="active"><span>Services</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="extra-services--section pd--100-0-40">
			<div class="container">
				<div class="row AdjustRow">

                    <% if(item && item.length>0){ %>
                    <% for(var i=0; i<item.length; i++){ %>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="extra-service--item">
							<img alt="" data-rjs="2" src="/img/extra-services-img/extra-service-item-02.jpg">
							<div class="extra-service--info">
								<div class="extra-service--info-content">
									<div class="title">
										<h2 class="h4"><a href="/services/<%= item[i].uName %>"><%= item[i].name %></a></h2>
									</div>
									<div class="content">
										<p style="overflow:hidden; height:50px;">
											<%= item[i].description %>
										</p>
									</div>
									<div class="footer">
										<a class="btn btn-default" href="/services/<%= item[i].uName %>">View Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% }} %>
				</div>
			</div>
		</div>
		<!-- <div class="counter--section pd--100-0-40" data-bg-img="img/counter-img/bg.jpg">
			<div class="container">
				<div class="row">
					<div class="counter--item col-md-3 col-xs-6 col-xxs-12">
						<div class="icon"><img alt="" data-rjs="2" src="img/counter-img/icon-01.png"></div>
						<div class="info">
							<h2 class="title h4 font--primary">Happy Clients</h2>
							<h3 class="number h2"><span data-counter-up="numbers">94816</span></h3>
						</div>
					</div>
					<div class="counter--item col-md-3 col-xs-6 col-xxs-12">
						<div class="icon"><img alt="" data-rjs="2" src="img/counter-img/icon-02.png"></div>
						<div class="info">
							<h2 class="title h4 font--primary">Completed Deals</h2>
							<h3 class="number h2"><span data-counter-up="numbers">102370</span></h3>
						</div>
					</div>
					<div class="counter--item col-md-3 col-xs-6 col-xxs-12">
						<div class="icon"><img alt="" data-rjs="2" src="img/counter-img/icon-03.png"></div>
						<div class="info">
							<h2 class="title h4 font--primary">Running Procet</h2>
							<h3 class="number h2"><span data-counter-up="numbers">579</span></h3>
						</div>
					</div>
					<div class="counter--item col-md-3 col-xs-6 col-xxs-12">
						<div class="icon"><img alt="" data-rjs="2" src="img/counter-img/icon-04.png"></div>
						<div class="info">
							<h2 class="title h4 font--primary">Award Winning</h2>
							<h3 class="number h2"><span data-counter-up="numbers">3226</span></h3>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		